/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*block elements*/
h1, p {
	background-color: #DDE0E3; 
	/*width: 50px;*/
	/*height: 100px;*/
}

h1 {
	/*margin: 50px;*/
	/*padding: 50px;*/
	/*padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 40px;*/
	padding: 10px 20px 30px 40px;
/*	padding-top: 20px 40px;*/
	/*border: 1px solid #5D6063;*/
	border-top: 5px solid red;
	border-right: 0.25em dotted indianred;
	border-bottom: 20px double grey;
	border-left: 1em groove green;
}

p {
	padding: 20px 0 20px 10px;
	margin-bottom: 50px;
	margin-top: 25px;
}

/*inline elements*/
em, strong {
	background-color: #B2D6FF;
	/*width can't be modified coz it is based in content*/
	/*height can't be modified coz it is based in content*/
	/*display: block;*/
}

strong	{
	/*padding: 50px;*/
	margin:	50px;
}

.container {
	background-color: skyblue;
	padding: 20px;
	text-align: center;
	border: 2px solid #5D6063;
	border-radius: 5px;
	/*width: 200px;*/
	width: 50%;
	/*box-sizing: border-box;*/
	margin: 20px auto; /*auto won't work without width*/
}

span {
	font-size: 2em;
	color: red;
}